@{
    ViewBag.Title = "Error";
}

<h3>
    An Error occured while processing your request
    The support team is notified and we are workig on the fix
</h3>
<h5>Please, contact us on voitenkobohdan@gmail.com</h5>

<hr />
<h3>
    Exception Details
    <div class="alert alert-danger">
        <h5>Exception Path</h5>
        <hr />
        <p>@ViewBag.Path</p>
    </div>
    <div class="alert alert-danger">
        <h5>Error Message</h5>
        <hr />
        <p>@ViewBag.ErrorMessage</p>
    </div>
    <div>
        <h5>Error StackTrace</h5>
        <hr />
        <p>@ViewBag.StackTrace</p>
    </div>
</h3>

